<!-- Registro total de egresados-->
<div class="row text-center mt-5">
  <div class="col-lg-4 offset-lg-4">
      <h4 class="mb-2"><STRONg>REGÍSTRATE</STRONg></h4>
      <h6 class="mb-4">Debes ingresar todos los datos</h6>
        <form action="/egresados/signup" method="POST">
          <div class="form-group">
            <input type="text" class="form-control" name="name" placeholder="Nombre" value="{{name}}" required>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="lastname" placeholder="Apellido" value="{{lastname}}" required>
          </div>
          <div class="form-group">
            <input type="number" class="form-control" name="dni" placeholder="Cédula" value="{{dni}}" required>
          </div>
          <div class="form-group">
            <input type="email" class="form-control" name="email" placeholder="Correo" value="{{email}}" required>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Password" value="{{password}}" required>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password" required>
          </div>
        
          <div class="form-group">
            <select class="form-control form-control-sm" name="country" required>
                <option selected value="null">Pais</option>   
                <option value="Colombia">Colombia</option>
            </select>
          </div> 

          <div class="form-group">
            <select class="form-control form-control-sm" name="city" required>
                <option selected value="null">Ciudad</option>   
                <option value="Colombia">Bogota</option>
                <option value="Medellin">Medellin</option>
                <option value="Cali">Cali</option>
                <option value="Pereira">Pereira</option>
                <option value="Barranquilla">Barranquilla</option>         
            </select>
          </div>

           <div class="form-group">
            <select class="form-control form-control-sm" name="interests" required>
                <option selected value="null">Intereses</option>   
                <option value="Colombia">Deporte</option>
                <option value="Medellin">Cultura</option>
                <option value="Cali">Conciertos</option>     
            </select>
          </div>
          <div class="form-group">
            <input type="number" class="form-control" name="age" placeholder="Edad" value="{{age}}" required>
          </div>
          <div class="form-group">
            <select class="form-control form-control-sm" name="gender" required>
                <option selected value="null">Genero</option>   
                <option value="Colombia">Femenino</option>
                <option value="Medellin">Masculino</option>
                <option value="Cali">Otro</option>     
            </select>
          </div>

          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" name="datause" id="exampleCheck1" required>
            <label class="form-check-label" for="exampleCheck1">Acepto el uso de mis datos</label>
          </div>
        <div class="form-group mt-5">
            <button class="btn btn-enter">
                Registrarse 
            </button>
        </div>

        <div class="form-group">
                <a href="/">Atras</a>
        </div>
          
        </form>
  </div>
</div>