<!-- Registro de adminstradores por parte del superusuario --> 
{{> navigationsuperuser}}
<div class="registroegresados">
    <div class="container">
        <div class="row mt-5 text-center">
            <div class="col-8 offset-2 col-lg-4 offset-lg-4">
                <h4 class="titles mb-3"><STRONg>Modificar Datos Administradores</STRONg></h4>
                <p>Todos los datos son obligatorios</p>
                <form action="/superuser/modificaradmins/{{admin._id}}?_method=PUT" method="POST">
                    <input type="hidden" name="_method" value="PUT">
                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input type="text" id="nombre" class="form-control" name="name" placeholder="Nombre" value="{{admin.name}}" autofocus required>
                    </div>
                    <div class="form-group">
                        <label for="apellido">Apellido</label>
                        <input type="text" id="apellido" class="form-control" name="lastname" placeholder="Apellido" value="{{admin.lastname}}" required>
                    </div>
                    <div class="form-group">
                        <label for="cedula">Cédula</label>
                        <input type="number" id="cedula" class="form-control" name="dni" placeholder="Cédula" value="{{admin.dni}}" required>
                    </div> 

                    <div class="form-group">
                        <label for="direccion">Dirección</label>
                        <input type="text" id="direccion" class="form-control" name="address" placeholder="Dirección" value="{{admin.address}}" required>
                    </div>
                    <!-- TODO cargar de una base de datos todos los paises y ciudades-->
                    <div class="form-group">
                            <select class="form-control form-control-sm" name="country">
                                <option selected value="null">Pais</option>   
                                <option value="Colombia">Colombia</option>        
                            </select>
                    </div>
                    <div class="form-group">
                            <select class="form-control form-control-sm" name="city">
                                <option selected value="null">Ciudad</option>   
                                <option value="Bogota">Bogota</option>
                                <option value="Medellin">Medellin</option>
                                <option value="Cali">Cali</option>
                                <option value="Pereira">Pereira</option>
                                <option value="Barranquilla">Barranquilla</option>         
                            </select>
                    </div>
        
                    <div class="form-group mt-4">
                        <button type="submit" class="btn btn-enter">Modificar</button>
                    </div>
                    
                    <div class="form-group">
                        <a href="/superuser/home">Atras</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
